service: express-api

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1


functions:
  api:
    handler: src/handler.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-offline